@page
@model DebugModel
@{
    ViewData["Title"] = "About";
}
<div>
    <h2>環境変数</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (string key in Environment.GetEnvironmentVariables().Keys.OfType<string>().OrderBy(k => k))
            {
            <tr>
                <td><span>@key</span></td>
                <td><span>@(Environment.GetEnvironmentVariable(key))</span></td>
            </tr>

            }
        </tbody>
    </table>
</div>
<div>
    <h2>構成情報</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (string key in this.Model.ConfigSettings.Keys.OfType<string>().OrderBy(k => k))
            {
            <tr>
                <td><span>@key</span></td>
                <td><span>@(this.Model.ConfigSettings[key])</span></td>
            </tr>

            }
        </tbody>
    </table>
</div>
